<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pscommunity</name>
    <displayName><![CDATA[Wall of Fame]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Displays and highlights contributors to the PrestaShop open source project]]></description>
    <author><![CDATA[Prestashop SA]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>